/* start variables */
:root {
  --p-color: #84959c;
  --transparent-color: rgb(15 116 143 / 0.7);
  --main-color: #19c8fa;
  --transition-duration: 0.5s;
  --section-padding: 100px;
}
/* end variables */

/* Start global Rules  */
* {
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
img {
  width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  display: block;
  text-decoration: none;
  color: white;
}
.container {
  padding-inline: 15px;
  margin-inline: auto;
}

html {
  scroll-behavior: smooth;
}
/* End global rules */
/* star components */
/* Main heading */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 70px;
  text-transform: uppercase;
  position: relative;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  width: 120px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -38px;
  transform: translateX(-50%);
  height: 15px;
  background-color: #ffffff;
  width: 15px;
  border: 2px solid black;
  border-radius: 50%;
}
.main-heading p {
  font-size: 16px;
  line-height: 2;
  margin: 0 auto 100px;
  color: var(--p-color);
  width: 500px;
  max-width: 100%;
}
/* main heading */
/* End special heading */
/* Start header  */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
  height: 1px;
  background-color: #918f8f;
}
.logo img {
  height: 40px;
}
header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav .toggle-menu {
  color: white;
  font-size: 22px;
}

header nav ul {
  display: flex;
}
header nav ul a {
  padding: 40px 10px;
  text-transform: capitalize;
  font-size: 14px;
  transition: var(--transition-duration);
  position: relative;
  z-index: 2;
}
header nav ul li a.active,
header nav ul a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header .form {
  position: relative;
  width: 30px;
  height: 40px;
  margin-left: 30px;
  border-left: 1px white solid;
}
header .form i {
  color: white;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  transition: var(--transition-duration);
}
header .form i:hover {
  scale: 1.2;
  color: var(--main-color);
}

/* ------------------------------------------------------- */
/* -----------Start landing -------------------------- */
.landing {
  background-color: rgb(38, 37, 36);
  background-image: url(../photo/landing.jpg);
  /* background-position: center center; */
  background-size: cover;
  min-height: 100vh;
  position: relative;
}
.landing .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.landing .text {
  position: absolute;
  background-color: var(--transparent-color);
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 40px;
  color: white;
  display: flex;
  justify-content: center;
}
.landing .text .content {
  max-width: 500px;
}
.landing .text .content h2 {
  margin-bottom: 20px;
  line-height: 1.4;
  font-size: 32px;
  font-weight: normal;
  text-transform: capitalize;
}
.landing .text .content p {
  font-size: 15px;
  line-height: 2;
  font-weight: normal;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}
.landing .left {
  left: 30px;
}
.landing .right {
  right: 30px;
}
.bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}
.bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-inline: 5px;
}
.bullets li.active {
  background-color: var(--main-color);
}
/* -----------End landing -------------------------- */
/* ---------Start Services -------------------------- */
.services {
  padding-block: var(--section-padding);
}

.services .srv-content .srv-box {
  display: flex;

  transition: var(--transition-duration);
  padding: 20px;
}
.services .srv-content .srv-box:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #ededed;
}
.services .srv-content .srv-box i {
  margin-right: 50px;
  transition: var(--transition-duration);
}
.services .srv-content .srv-box:hover i {
  color: var(--transparent-color);
  scale: 1.1;
}

.services .srv-content .srv-box h3 {
  margin: 0 0 30px;

  color: var(--main-color);
}
.services .srv-content .srv-box p {
  line-height: 2;
  color: var(--p-color);
}
